<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDatiF0gV5lz42HEEyJ4lFTBwx6SFF_Ocg</string>
	<key>GCM_SENDER_ID</key>
	<string>892503852311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.coffeejs.geotrack</string>
	<key>PROJECT_ID</key>
	<string>coffee-js-1ae30</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-js-1ae30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892503852311:ios:5cb6d1c17a83456759e352</string>
</dict>
</plist>